@using Radzen
@inject DialogService DialogService

<div class="p-3">

    <div class="mb-2">
        <b>Enter Qty (Max @MaxQty)</b>
    </div>

    <RadzenNumeric TValue="decimal"
                   @bind-Value="Value"
                   Min="1"
                   Max="@MaxQty"
                   Style="width:100%" />

    <div class="mt-3 text-end">
        <RadzenButton Text="OK"
                      Size="ButtonSize.Small"
                      Click="@Ok" />

        <RadzenButton Text="Cancel"
                      ButtonStyle="ButtonStyle.Light"
                      Size="ButtonSize.Small"
                      Click="@Cancel"
                      Style="margin-left:5px" />
    </div>

</div>

@code {

    [Parameter] public decimal MaxQty { get; set; }
    [Parameter] public decimal InitialQty { get; set; }

    decimal Value = 1;

    protected override void OnInitialized()
    {
        Value = InitialQty;
    }

    void Ok()
    {
        DialogService.Close(Value);
    }

    void Cancel()
    {
        DialogService.Close(null);
    }
}
